.grid-layout-desktop {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;
    font-size: 100%;
}

.grid-layout-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 70%;
}

.grid-image{
    width: 100%;
    height: auto;
}

.grid-tile {
    text-align: center;
}
.sale-button {
    margin: 10px;
    text-align: center;
}


