.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 200px 0px;
}
.grid-image{
    width: 100%;
    height: 100%; 
}

.grid-tile {
    border: 1px solid #080000;
    text-align: center;
}
.sale-button {
    margin: 10px;
    text-align: center;
}

